.masthead {
  height: 85vh;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 500px;
  background-image: url('https://vvecon.com/assets/uploads/media-uploader/612f324d1c8d8e001ec8473a1710645728.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}